.footer-nav {
  display: flex;
  min-width: 50%;
  margin-top: 10px;

  &__item {
    margin-right: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFF;

    a {
      color: #ffffff;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-sub-nav {

  &__item {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 19px;
    color: #32448C;
    
    a {
      color: #32448C;
    }
  }
}
