.footer-logo {
  display: flex;
  align-items: flex-end;
  min-width: 245px;

  .pic img {
    width: 51px;
    height: 51px;
  }

  .text {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
  }
}
