$slideHeight: 510px;

.swiper-container {
  width: 100%;
  height: $slideHeight;
}

.swiper-button-prev,
.swiper-button-next {
  top: 65px;
  left: 66px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  border: 1px solid #595959;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/arrow.svg);
}
.swiper-button-next {
  left: 110px;
}
.swiper-pagination {
  margin-left: 38px;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 25px;
}
.swiper-button-prev {
  transform: rotate(-180deg);
}
.swiper-pagination-bullet {
  background: #87E389;
  border-radius: 50px;
  width: 230px;
}

.swiper-slide {
  padding-top: 114px;
  padding-left: 66px;
  height: $slideHeight;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:nth-of-type(2n+1) {
    background-image: url(../img/slide-1.jpg);
  }

  &:nth-of-type(2n) {
    background-image: url(../img/slide-2.jpg);
  }
}

.info-block {
  .sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #87E389;
    margin-bottom: 21px;
  }

  .title {
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 50%;

    &:after {
      content: '';
      position: absolute;
      width: 20%;
      height: 2px;
      background: #ffffff;
      left: 0;
      bottom: 0;
    }
  }

  .info {
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    margin-bottom: 40px;
  }
}
